body{
    background-color: #fefbfa;
    margin: 0px;
    padding: 0px;
}
nav ul{
    background-color: #b9400e;
    display: inline-block;
    width: 100vw;
    margin: 0;
    padding: 0;
}
nav li{
    display: block;
    float: left;
    padding-right: 1px;
    padding-top: 15px;
    padding-bottom: 15px;

}
nav li:first-child{
    padding-left: 8%;
}
nav li a{
    text-decoration: none;
    color: white;
    font-weight: 100;
    border: 1px solid #b9400e ;
    border-bottom: 1px solid #b9400e;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: #b9400e;
    padding-left: 15px;
    padding-right: 15px;
}
.active{
    text-decoration: none;
    color: #b9400e;
    font-weight: 100;
    border: 1px solid #b9400e ;
    border-bottom: 1px solid #fefbfa;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: #fefbfa;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    
}
nav li a:hover{
    background-color: #7e2c0a;
}
nav li a.active:hover{
    background-color: #fefbfa;
}
.logo{
    display: inline-block;
    padding-left: 130px;
    padding-top: 50px;
}
.logotext{
    display: inline-block;
    padding-left: 40px;
    margin-top: 25px;
}
.logotext h1 a{
    text-decoration: none;
    color: black;
    font-size: xx-large;
    font-weight: 400;
}

.maincontent{
    display: inline-block;
    width: 55%;
    background-color: #ffffff;
    padding-left: 30px;
    margin-left: 130px;
    border-radius: 5px;
    margin-top: 25px;
    border: 1px solid #e6c0b0;
}
.maincontent a{
    color: #7e2c0a;
    text-decoration: none;
    font-size: medium;
    line-height: 150%;
    
}
.one{
    background-color: #f39c12;
}
.two{
    background-color: #afeeee;
}
.maincontent ul li:nth-child(4){
    padding-top: 25px;
}
.maincontent ul li:nth-child(4) a{
    font-weight: 800;
}
.maincontent ul li:nth-child(6) a{
    font-weight: 800;
}

aside{
    width: 30%;
    float: right;
}
aside h2{
    color: #b9400e;
}
aside ul li a{
    text-decoration: none;
    color: #da631e;
}
.eligibilitycontent{
    width: 75%;
    background-color: #ffffff;
    padding-left: 30px;
    margin-left: 130px;
    border-radius: 5px;
    margin-top: 25px;
    border: 1px solid #e6c0b0;
    
}
table tr td a{
    text-decoration: none;
    color: #b9400e;
    font-weight: 600;
}
table tr td a:hover{
    color: #da631e;
    font-weight: 600;
}
table tr td{
    padding: 15px;
}
.examcontent{
    width: 75%;
    background-color: #ffffff;
    padding-left: 30px;
    margin-left: 130px;
    border-radius: 5px;
    margin-top: 25px;
    border: 1px solid #e6c0b0;

}
.examcontent ul li{
    font-weight: bold;
    line-height: 25px;
}
.faqcontent{
    width: 80%;
    background-color: #ffffff;
    padding-left: 30px;
    margin-left: 130px;
    border-radius: 5px;
    margin-top: 25px;
    border: 1px solid #e6c0b0;
}
.faqcontent ol li{
    padding: 15px;
}
.faqcontent ul li{
    padding: 15px;
}
.faqcontent  a{
    text-decoration: none;
    color: #b9400e;
}
.contactcontent{
    width: 80%;
    background-color: #ffffff;
    padding-left: 30px;
    margin-left: 130px;
    border-radius: 5px;
    margin-top: 25px;
    border: 1px solid #e6c0b0;
}
hr{
    margin: 1px;
}
.redtext{
    color: #ff0000;
    font-size: small;
}
.contactcontent a{
    color: #b9400e;
}
footer{
    padding-left: 130px;
    font-weight: 500;
}
